<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col"><h1>Sample KMS Demo</h1></div>
      <div class="col"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">

          <table class="table">
            <thead>
            <tr>
              <th scope="col">Input</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1"
                            rows="3" ></textarea>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>

                </div>
              </td>
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-success"  (click)="enc1rypt()">Encrypt</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Output</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <textarea class="form-control" id="textareaDisabled" rows="3" disabled></textarea>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col" ><button type="button" class="btn btn-danger">Cleanup</button></div>
      <div class="col"></div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
